h1 {
    border-radius: 10px;
    background-color: tomato;
    color: white;
    width: 400px;
    text-align: center;
}

article {
    border: dotted 5px black;
    width: 400px;
    padding: 3px;
    text-align: center
}